@model List<CoveringTask.Models.Generator>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Інфо</title>
</head>
<body>
    <br /><br />
    <div class="panel panel-primary" >
        <div style="margin: 50px">
            <h2>Info</h2>

            <h4>
                <p>
                    Курсову роботу виконали <br />
                    Студенти групи ІС-51<br />
                    Кас'янчук Андрій та Потильчак Даниіл
                </p>
            </h4>

            <h3>Постановка задачі</h3>
            <h4>Задача знаходження мінімальної за потужністю множини шляхів, які у сукупності  проходять через кожну з вершин графа хоча б один раз, зводиться до класичної задачі про покриття.</h4>

            <h3>Змістовні постановки задач</h3>
            <h4>
                <p>Нехай є локальна мережа з неповно зв'язною змішаною топологією та  комп'ютер адміністратора, з якого потрібно передати інформацію на всі інші комп'ютери в мережі.</p>

                <ul>
                    <li>
                        Необхідно найти таку множину маршрутів передачі пакетів даних, яка б включала в себе всі комп'ютери в мережі хоча б один раз та була як можна коротшою.
                    </li>
                    <li>
                        Необхідно найти таку множину маршрутів передачі пакетів даних, яка б включала в себе всі комп'ютери в мережі хоча б один раз та була б мінімальною за витраченим часом.
                    </li>
                </ul>
            </h4>

            <h3>Інструкція до викоритсання</h3>
            <h4>
                <p>Для вирішення задачі, її потрібно згенерувати. Натисніть на кнопку "Генерувати задачу". Відкриється форма, де потрібно ввести дані. Після вводу даних, натисніть на кнопку "Згенерувати", після чого задача буде згенерована. Для перегляду згенерованих задач натисніть на кнопку "Список задач", після чого відкриється сторінка з списком усіх згенерованих задач.</p>
                <p>Задача згенерована, тепер її можна вирішити. Натисніть на кнопку "Вирішити задачу", після чого відкриється форма. Введіть відповідні дані, виберіть алгоритми і натисніть на кнопку "Вирішити задачу". Почнеться розв'язок задачі (вирішення задачі з великим графом займе багато часу), після чого відкриється сторінка з рішенням задачі. Всі вирішені задачі можна переглянути, натиснувши на кнопку "Список результатів" на головній сторінці.</p>
            </h4>
        </div>

    </div>
</body>
</html>

